.todo-container-footer {
  display: flex;
  height: 30px;
  width: calc(100% - 20px);
  background: #fff;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  color: #777;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
.todo-status-container {
  display: flex;
}
.todo-status-container > div {
  margin-right: 15px;
  cursor: pointer;
  padding: 5px;
}
.todo-clear-container {
  cursor: pointer;
  justify-content: flex-end;
}
.todo-status-container > div.active {
  padding: 5px;
  border: 1px solid rgba(175, 47, 47, 0.2);
}
.todo-container-footer > div {
  width: 33.33%;
  display: flex;
}
